body {
    max-width: 500px;
    margin: 16px auto;
    border: 1px solid #E0E0E0;
    padding: 16px;
    border-radius: 10px;
    color: #333;
}

body > div {
    border-bottom: solid 1px #E6E6E6;
}

.asterism {
    color: indianred;
    font-weight: bolder;
    text-align: center;
}