body {
    max-width: 600px;
    margin: 16px auto;
    border: 2px solid #E0E0E0;
    padding: 16px;
    color: #333;
}

body > div {
    border-bottom: solid 1px #E6E6E6;
}

.asterism {
    text-align: center;
    font-weight: bolder;
}